@import "clear";
@import "reset";
@import url(normalize.css);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

$navGrey: rgb(136, 136, 136);
$navBlue:rgb(67, 202, 202);
$navBack:#2f2f2f;
$navPurple:#b2398a;
$navRed: #f34c49;
$navYellow:#f7b40e;
$navGreen:#5abb49;
$borders:#DDD;
$pgBack: #e4e4e4;
$boxBlue:#43caca;
$boxGreen:#5abb49;
$boxOrange:#f7b40e;
$boxTxt: #777777;
$letGrey: #464636;


body{
	width:auto;
	height:auto;
	margin:0;
	padding:0;
	background-color: $pgBack;
}
ul, li{
	padding:0;
	margin:0;
	list-style: none;	
}
.topNav-container{
		width:auto;
		height:auto;
		margin:0;
		padding:0;
	ul{
		height:80px;
		display:flex;
		flex-flow: row;
		flex:auto;
		background-color: black;
		font-size: 80%;
	    font-family: sans-serif;
		li{
			color: white;
			padding: 25px;
			}
		i{
	        font-size: 25px;
	        color:white;
	        padding-left:3px;
	        }

		li:nth-of-type(3){
	        color:$navBlue;
     	    }

	    li:nth-of-type(4){
	        margin-left: auto;
	    }
	}
}
.btmNav-container{
	width:auto;
	height:auto;
	margin:0;
	padding:0;

	
	ul{
		height:80px;
		margin:20px;
		display:flex;
		flex-flow: row;
		flex:auto;
		font-size: 80%;
	    font-family: sans-serif;

	    a{
    	text-decoration: none;
		color: white; 
   		 }	
		li{
			color: white;
			padding: 25px;
			font-size:15px;
			}
		li:first-of-type{
			flex:3;
			background-color: white;
			margin-right: 20px;
			background-image: url(../img/logo.png);
			background-size: 25%;
			background-repeat: no-repeat;
			background-position: center;
		}
		li:nth-of-type(2){
			background-color: $navBlue;
			}
		li:nth-of-type(3){
			background-color: $navGreen;
		}
		li:nth-of-type(4){
			background-color: $navYellow;
		}
		li:nth-of-type(5){
			background-color: $navRed;
		}
		li:nth-of-type(6){
			background-color: $navPurple;
		}
	}
}
.heroContainer{
	width:auto;
	height:500px;
	margin:0;
	padding:0;
	display:flex;
	flex:auto;
	flex-flow: row;
	align-items: center;

	#hero{
		width:100%;
		height:100%;
		margin:0;
		padding:0;
		background-image: url(../img/slider-img1.jpg);
	    background-position: top center;
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-attachment: fixed;
	    font-size: 50px;
	    text-align: center;
	    color: white;

	    h2{
	    	font-size: 80px;
	 	}
	}
}
.whatContainer{
	width:auto;
	height:300px;
	margin:15px;
	margin-bottom: 10px;
	padding:0;
	display:flex;
	flex: space-around;

	#box1{
		width: 40%;
		height:90%;
		margin: 10px;
		padding-right: 14px;
		text-align: center;
		font-size: 20px;
		color: $letGrey;
		background-color: white;

		h2{
			font-size: 30px;
			color: black;
			font-weight: bold;
			}
		}
	
	#box3{
		width: 60%;
		background-image: url(../img/Depositphotos_4767266_original.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
	}
}
.boxContainer{
	width:auto;
	height:auto;
	margin:20px;
	margin-top: 10px;
	padding:0;
	display:flex;
	align-items: center;
	color: white;


	#box1{
		text-align: center;
		margin: 10px;
		background-color: $navBlue;
		}
	#box2{
		text-align: center;
		margin: 10px;
		background-color: $navGreen;
	}
	#box3{
		text-align: center;
		margin: 10px;
		background-color: $navYellow;
	}
}
.letContainer{
	width:auto;
	height:auto;
	margin:20px;
	margin-top: 10px;
	padding:0;
	display:flex;
	flex-direction: row;
	
	#box2{
		width: 70%;
		height: 100%;
		margin: 10px;
		flex-direction:row;
		align-self: flex-start;
		background-position: center;
		background-repeat: no-repeat;
		}
	#box3{
		width: 50%;
		margin-top: 0;
		text-align: center;
		flex-direction: row;
		color: white;
		margin: 10px;
		background-color: $navRed;
	}
}
.twofourContainer{
	width:auto;
	height:auto;
	margin:0;
	padding:0;
	display:flex;
	flex:auto;
	flex-flow: column;

	#box1{
		width:100%;
		height:500px;
		margin:0;
		padding:0;
		background-image: url(../img/Depositphotos_7712645_original-1.jpg);
		background-position: top center;
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-attachment: fixed;
	h1, h2, h4{
			text-align: center;
			margin:0;
			color: white;
			font-family:Raleway;
			font-weight:bold;
	    }
		
	h1{
		margin-top:50px;
		font-size: 100px;
		}
	h2{
		font-size: 75px;
		
		}
	h4{
		font-size: 40px;
		}
	}
}
.picsContainer{
	width:auto;
	height:auto;
	margin:30px;
	padding:0;
	display:flex;
	align-items: center;
	color: white;

	p{
		font-size: 10px;
		color: $letGrey;
		}
	h4{
		color: $navPurple;
		font-size: 20px;
		font-family: Raleway;
		text-align: center
		}
	img{
		width:50%;
		height:50%;
		margin-top:15px;
		background-size:25%;
		background-position: center;
		background-repeat:no-repeat;
		border-radius: 50%;
	}
	#box1, #box2, #box3{
			width:100%;
			height:100%;
			margin:15px;
			padding:0;
			background-color: white;
			text-align:center;
			}
}
.greenContainer{
	width:auto;
	height:auto;
	padding:0;
	display:flex;
	flex-flow:column;
	background-color:$navGreen;
	color: white;

	#greenMain{
		display:flex;
		flex-flow:row;

		#box1{
			width: 100%;
			height:150px;
			margin: 10px;
			background-image:url(../img/green-1.jpg);
			background-size:100%;
			background-position:center;
			background-repeat: no-repeat;

			}
		#box2{
			width: 100%;
			height:150px;
			margin: 10px;
			background-image:url(../img/green-2.jpg);
			background-size:100%;
			background-position:center;
			background-repeat: no-repeat;
		}
		#box3{
			width: 100%;
			height:150px;
			margin: 10px;
			background-image:url(../img/green-3a.jpg);
			background-size:100%;
			background-position:center;
			background-repeat: no-repeat;
			}
		#box4{
			width: 100%;
			height:150px;
			margin: 10px;
			background-image:url(../img/green-4a.jpg);
			background-size:100%;
			background-position:center;
			background-repeat: no-repeat;
		}
	}
}
	
.green2Container{
	width:auto;
	height:auto;
	margin:0;
	padding:0;
	display:flex;
	flex-flow:column;
	background-color:$navGreen;
	color: white;

	#green2Main{
		display:flex;
		flex-flow:row;

		#box5{
			width: 100%;
			height:150px;
			margin: 10px;
			background-image:url(../img/green-5a.jpg);
			background-size:100%;
			background-position:center;
			background-repeat: no-repeat;
			}
		#box6{
			width: 100%;
			height:150px;
			margin: 10px;
			background-image:url(../img/green-6a.jpg);
			background-size:100%;
			background-position:center;
			background-repeat: no-repeat;
		}
		#box7{
			width: 100%;
			height:150px;
			margin: 10px;
			background-image:url(../img/green-7a.jpg);
			background-size:100%;
			background-position:center;
			background-repeat: no-repeat;
		}
		#box8{
			width: 100%;
			height:150px;
			margin:0;
			margin-top:8px;
			background-color:$navYellow;
			h2{
				padding:0;
				font-family:Raleway;
				font-size:40px;
				text-align:center;
				color: white;
				}	
			}
	}
}

.blogContainer{
	width:auto;
	height:auto;
	margin:0;
	padding:0;
	display:flex;
	flex-flow:column;
	background-color:black;
	color: white;

	#blogMain{
		display:flex;
		flex-flow:row;

		#box1{
			width:100%;
			height:300px;
			margin:10px;
			margin-top:8px;
			background-color:$navYellow;
			display:flex;
			flex-flow:column;

			div{
				width:90px;
				height:90px;
				margin:0;
				margin-top:20px;
				padding:0;
				font-family:Raleway;
				font-size:80px;
				margin-left: 30px;
				text-align:left;
				color: $navPurple;
			}
			p:first-of-type{
				margin:0;
				padding:0;
				margin-bottom:10px;
				display: inline-block;
				font-family:Raleway;
				font-size:20px;
				margin-left:50px;
				text-align: center;
				color: $navPurple;

			}
			h3{
				margin:0;
				padding:0;
				font-family:Raleway;
				font-size:20px;;
				color: white;
				}	
			}
		#box2{
			width:100%;
			height:250px;
			margin:5px;
			margin-top:8px;
			background-image:url(../img/blog-1.jpg);
			background-size:150%;
			background-position:center;
			background-repeat: no-repeat;
			}
}
}
.blog2Container{
	width:auto;
	height:auto;
	margin:0;
	padding:0;
	display:flex;
	flex-flow:column;
	background-color:black;
	color: white;

	#blog2Main{
		display:flex;
		flex-flow:row;

		#box3{
			width: 100%;
			height:150px;
			margin: 10px;
			background-image:url(../img/blog-2.jpg);
			background-size:100%;
			background-position:center;
			background-repeat: no-repeat;
		}
		#box4{
			width: 100%;
			height:150px;
			margin:0;
			margin-top:8px;
			background-color:$navYellow;
			h2{
				padding:0;
				font-family:Raleway;
				font-size:40px;
				text-align:center;
				color: white;
				}	
			}
	}
}
